.container {
    display:grid;
    grid-template-columns:1fr 4fr 2fr;
    grid-template-rows: 753px;
}body {
    margin: 0;
    

}





.item-1 {
    background-color: rgb(174, 112, 231);
}
.item-2{
    background-color:gold;
}
.item-3 {
    background-color: rgb(255, 134, 134);
}