.container {
    display:grid;
    grid-template-columns:200px 100px 300px;
}





.item-1 {
    background-color: rgb(174, 112, 231);
}
.item-2{
    background-color:gold;
}
.item-3 {
    background-color: rgb(255, 134, 134);
}
.item-4 {
    background-color: rgb(174, 112, 231);
}
.item-5{
    background-color:gold;
}
.item-6 {
    background-color: rgb(252, 134, 134);
}